<p id="notice"><%= notice %></p>

<div id='header'>
  <h2>Employees</h2>
  <div id='buttonContainer'>
    <%= button_to 'Generate Emails', generate_path, method: :get, :class => 'button add'%>
    <%= link_to "<button class='button add'>Add New Employee</button>".html_safe, new_employee_path %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Birth Date</th>
      <th>Job Title</th>
      <th>Number of Children</th>
      <th>Email</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr id='body'>
        <td><%= employee.id %></td>
        <td><%= link_to employee.first_name, edit_employee_path(employee) %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.birth_date.strftime('%m/%d/%Y') %></td>
        <td><%= employee.title %></td>
        <td><%= employee.children.count %></td>
        <td><%= employee.email %></td>
        <td><%= link_to "<button class='button delete'>Delete</button>".html_safe, employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

