<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Birth Date</th>
      <th>Job Title</th>
      <th>Number of Children</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= link_to employee.first_name, edit_employee_path(employee) %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.birth_date.strftime('%m/%d/%Y') %></td>
        <td><%= employee.title %></td>
        <td><%= employee.children.count %></td>
        <td><%= employee.email %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
